.root {
  padding: 2rem;
  background-color: white;
  .title {
    margin: {
      top: 1rem;
      bottom: 2rem;
    }
    font-weight: bold;
    font-size: 1.5rem;
    color: #333333;
  }
  .empty {
    .empty_text {
      font-size: 16px;
      font-weight: bold;
      color: #444444;
      margin-top: 2rem;
    }
    box-shadow: 0 3px 18px 0 rgba(75, 86, 255, 0.1);
    padding: 3rem;
    width: 50%;
    margin: 5rem auto 0rem;
    border-radius: 1rem;
  }
}
