/*== Variables ==*/

$errorColor: rgb(255, 47, 47);
$backgroundForm: white;
$linkColor: #333333;
$linkFontWeight: 600;
$backgroundColorList: #331575, #ff0066;

/*== Mixin ==*/
@mixin linearGradient($direction, $list) {
  background-image: -webkit-linear-gradient($direction, $list);
  background-image: -moz-linear-gradient($direction, $list);
  background-image: -o-linear-gradient($direction, $list);
  background-image: linear-gradient($direction, $list);
}

@mixin linkStyle {
  color: $linkColor;
  font: {
    weight: $linkFontWeight;
  }
}

/*== Main ==*/
.root {
  .title {
    text: {
      align: center;
      transform: uppercase;
    }
  }
  .form_container {
    width: 100%;
    min-width: 375px;
    background: $backgroundForm;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    &__logo {
      margin: 0 auto 0.5rem;
      display: block;
      cursor: pointer;
    }
    .label {
      font: {
        weight: bold;
      }
    }
    .input_container {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .gender_text {
      font: {
        weight: bold;
        color: #333333;
      }
    }
    .action_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__signup {
        @include linearGradient(to right, $backgroundColorList);
        border-color: initial;
        width: 100%;
        font: {
          weight: $linkFontWeight;
        }
      }
      &__login {
        @include linkStyle;
      }
    }
  }
}

.loading_indicator {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_list {
  color: $errorColor;
}
