.root {
  width: 400px;
  max-width: 100%;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 18px 0 rgba(75, 86, 255, 0.2);
  .spin {
    width: 100%;
    padding: 2rem 0rem;
  }
  .header {
    padding: 1rem;
    text-align: center;
    p {
      font: {
        weight: 300;
        size: 0.875rem;
      }
      color: #1890ff;
      text-shadow: 0 0 0.25px currentColor;
      margin-bottom: 0 !important;
    }
    border-bottom: 1px solid #f0f0f0;
  }
  .notification_item {
    padding: 1rem;
  }
  .notification_item.read {
    background: #aaaaaa;
  }
  .notification_title {
    font-size: 1rem;
  }
  .footer {
    padding: 1rem;
    text-align: center;
    p {
      font: {
        weight: 300;
        size: 0.875rem;
      }
      color: #1890ff;
      text-shadow: 0 0 0.25px currentColor;
      margin-bottom: 0 !important;
    }
    border-top: 1px solid #f0f0f0;
  }
}
