$titleTextColor: #333333;
$backgroundColorList: #331575, #ff0066;

@mixin linearGradient($direction, $list) {
  background-image: -webkit-linear-gradient($direction, $list);
  background-image: -moz-linear-gradient($direction, $list);
  background-image: -o-linear-gradient($direction, $list);
  background-image: linear-gradient($direction, $list);
}

.root {
}

.menu {
}

.title {
  font-weight: bold;
  font-size: 32px;
  color: #331575;
}

.content {
  $this: &;
  width: 70%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  margin: 2rem auto;
  padding: 1.5rem;
  &__upload {
    #{$this}__upload_song {
      width: 300px;
      height: 300px;
      margin: {
        bottom: 2rem;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 200px;
      }
    }
    #{$this}__song_image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
}

.form {
  &__label {
    font: {
      weight: bold;
    }
    position: relative;
  }
  &__input_container {
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .upload_button {
    @include linearGradient(to right, $backgroundColorList);
    border-color: initial;
    width: 100%;
    height: 3rem;
    padding: 0rem 2rem !important;
    font: {
      size: 1.25rem;
      weight: 600;
    }
  }
}

.loading_indicator {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
