.root {
  padding: 2rem;
  .content__list {
    margin-top: 3rem;
    .title {
      font-weight: bold;
      font-size: 32px;
      color: #331575;
    }
  }
  .delete_button {
    width: 100%;
    height: calc(50px + 2rem);
    border-radius: 10px;
    border: 0;
    outline: 0;
    color: white !important;
  }
}
