.root {
  padding: 2rem;
  .title {
    margin-top: 3rem;
    font-weight: bold;
    font-size: 32px;
    color: #331575;
  }
  .main {
    margin-top: 2rem;
    .list_room {
      .room_item {
        margin: {
          bottom: 2rem;
        }
        cursor: pointer;
        padding: 0.5rem 0rem;
        & > span {
          margin: 0 auto;
          display: block;
          &:hover {
            box-shadow: 0 2px 10px 0 rgba(75, 86, 255, 0.5);
          }
        }
        .avatar_name {
          color: #333333;
          margin-top: 0.5rem;
          text-align: center;
        }
      }
      .room_item.active {
        background: #a0a0a0;
      }
      box-shadow: 0 3px 18px 0 rgba(75, 86, 255, 0.1);
      border-radius: 0.5rem;
      padding: {
        top: 2rem;
        bottom: 1rem;
      }
      background: white;
    }
    .chat_main {
      box-shadow: 0 3px 18px 0 rgba(75, 86, 255, 0.1);
      border-radius: 0.5rem;
      padding: 2rem;
      background: white;
    }
  }
}
