/*== Variables ==*/
$backgroundColorList: #151d30, #06215f;
$primaryColor: inherit;
$secondaryColor: white;
$nameColor: #f8f8f8;
$nameFontSize: 1.25rem;
$menuTextColor: $nameColor;

/*== Mixin ==*/

@mixin flexBox($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin basicTextStyle($color, $font-size, $font-weight) {
  color: $color;
  font: {
    size: $font-size;
    weight: $font-weight;
  }
}

@mixin linearGradient($direction, $list) {
  background-image: -webkit-linear-gradient($direction, $list);
  background-image: -moz-linear-gradient($direction, $list);
  background-image: -o-linear-gradient($direction, $list);
  background-image: linear-gradient($direction, $list);
}

.root {
  @include linearGradient(to bottom, $backgroundColorList);
  @include flexBox(flex-start, center);
  flex-direction: column;
  height: 100%;
  width: 200px;
  padding: 2rem 0rem;
  .info_container {
    .avatar_container {
      width: 160px;
      height: 160px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid $secondaryColor;
    }
    .avatar_text {
      font: {
        size: 4rem;
      }
    }
    .account_name {
      @include basicTextStyle($nameColor, 1.25rem, bold);
      margin-bottom: 0.5rem !important;
    }
    .email {
      @include basicTextStyle($nameColor, 0.875rem, 500);
    }
    .account_name,
    .email {
      text-align: center;
      margin-top: 0.5rem;
    }
  }
  .menu_container {
    width: 100%;
    .menu_bar {
      background: $primaryColor;
      color: $menuTextColor;
      .active {
        color: #06215f;
        background: white;
      }
    }
  }
  .skeleton_paragraph {
    margin-top: 0.5rem;
  }
}
