/*== Variables ==*/
$titleTextColor: #333333;
$backgroundColorList: #331575, #ff0066;

@mixin linearGradient($direction, $list) {
  background-image: -webkit-linear-gradient($direction, $list);
  background-image: -moz-linear-gradient($direction, $list);
  background-image: -o-linear-gradient($direction, $list);
  background-image: linear-gradient($direction, $list);
}

.loading_indicator {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
  .profile_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page_title {
    text-align: center;
    color: $titleTextColor;
    font: {
      size: 3rem;
    }
    @media screen and (max-width: 768px) {
      font: {
        size: 2rem;
      }
    }
  }
  .avatar_container {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    position: relative;
    &:hover {
      cursor: pointer;
      .avatar_overlay {
        transform: translateY(0%);
        background: rgba(0, 0, 0, 0.66);
      }
    }
    .avatar {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
    .avatar_uploader {
      width: 200px;
      height: 200px;
    }
    .avatar_overlay {
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9;
      border-radius: 50%;
      background: rgba(128, 128, 128, 0);
      transform: translateY(-9999%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .form {
    width: 40%;
    @media screen and (max-width: 768px) {
      width: 70%;
    }
    &__label {
      font: {
        weight: bold;
      }
      position: relative;
    }
    &__input_container {
      background: white;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .update_button {
      @include linearGradient(to right, $backgroundColorList);
      border-color: initial;
      width: 100%;
      height: 3rem;
      font: {
        size: 1.25rem;
        weight: 600;
      }
    }
  }
}
