.message_container {
  max-height: 400px !important;
  height: 400px !important;
  margin: {
    bottom: 2rem;
  }
  overflow: auto;
  visibility: hidden;
  transition: visibility 0.2s;
  .message_content {
    padding-right: 1rem;
    .message {
      display: flex;
      justify-content: flex-start;
      margin: {
        bottom: 1rem;
      }
    }
    .message_chat {
      background: #ff0099;
      max-width: 55%;
      padding: 1rem;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
      p {
        color: white;
        font: {
          weight: bold;
        }
        margin-bottom: 0 !important;
      }
      .time {
        font: {
          size: 10px;
          weight: 300;
          color: #333333;
        }
      }
    }
    .message_self {
      justify-content: flex-end;
      .message_chat {
        background: #06215f;
      }
    }
  }
  .message_content,
  &:hover,
  &:focus {
    visibility: visible;
    transition: visibility 0s 0.2s;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ff0099;
    background: -webkit-linear-gradient(to top, #493240, #ff0099);
    background: linear-gradient(to top, #493240, #ff0099);
    border-radius: 5px;
  }
}
.form {
  width: 100%;
}
