/*== Mixin ==*/

@mixin backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    background: {
        size: cover;
        repeat: no-repeat;
    }
}

/*== Main ==*/

.root {
    @include backgroundImage;
}
