.root {
  .avatar_text {
    font: {
      size: 2rem;
    }
  }
  .account_name_text {
    color: #333333;
    font: {
      size: 1.25rem;
    }
    cursor: pointer;
    &:hover {
      color: #fe0068;
    }
  }
  .name_text {
    margin: {
      bottom: 0.25rem !important;
    }
  }
}
