$boxShadowSong: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$transitionHover: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);

.root {
  border-radius: 0.5rem;
  transition: $transitionHover;
  cursor: pointer;
  &:hover {
    box-shadow: $boxShadowSong;
    overflow: hidden;
    .playlist__thumbnail {
      &__overlay {
        transform: translateY(0%);
        background: rgba(128, 128, 128, 0.66);
      }
    }
    .playlist__name {
      color: #fe0068;
    }
  }
  .playlist__thumbnail {
    max-width: 100%;
    position: relative;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    .image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .playlist__name {
    color: #666666;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.25rem;
    display: block;
  }
  .playlist__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1rem 0.5rem;
  }
}
