/*== Variables ==*/

$titleColor: #333333;
$titleSize: 16px;
$titleWeight: 600;
$artistColor: #888888;
$artistSize: 14px;
$artistWeight: 500;
$durationColor: #222222;
$durationSize: 14px;
$durationWeight: bold;
$buttonColor: #888888;
$backgroundColor: white;
$slideColor: #4b55fe;

/*== Mixin ==*/

@mixin basicTextStyle($color, $font-size, $font-weight) {
  color: $color;
  font: {
    size: $font-size;
    weight: $font-weight;
  }
}

@mixin flexBox($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flexSize($flex-grow, $flex-basis) {
  flex-grow: $flex-grow;
  flex-basis: $flex-basis;
}

@mixin resetRow {
  margin: 0 !important;
}

/*== Main ==*/

.root {
  @include resetRow;
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  background: $backgroundColor;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999999;
  p {
    margin-bottom: 0 !important;
  }
  .audio_html_container {
    display: none;
  }
  .info_container {
    @include flexBox(flex-start, center);
    .title_and_artist_container {
      margin: {
        left: 10px;
      }
      .title {
        @include basicTextStyle($titleColor, $titleSize, $titleWeight);
      }
      .artist {
        @include basicTextStyle($artistColor, $artistSize, $artistWeight);
      }
    }
    .song_picture {
      border-radius: 0.5rem;
    }
  }
  .controllers_container {
    @include flexBox(flex-start, center);
    .replay_button {
      margin-right: 1rem;
    }
    .pause_button {
      margin: 0px 0.5rem;
      background: #ff0066;
      border: none;
    }
    .forward_button,
    .backward_button {
      color: $buttonColor;
    }
    .random_button {
      margin-left: 1rem;
      cursor: pointer;
    }
  }
  .actions_container {
    @include flexBox(flex-start, center);
    .heart_button {
      margin-right: 1rem;
    }
    .heart_button,
    .action_button {
      color: $buttonColor;
    }
  }
  .duration_container {
    @include flexBox(center, center);
    .duration_bar {
      @include flexSize(4, 0);
    }
    .current_time,
    .duration {
      @include flexSize(0, auto);
      @include basicTextStyle($durationColor, $durationSize, $durationWeight);
      margin: 0px 10px;
    }
  }
  .volume_container {
    @include flexBox(center, center);
    .volume_icon {
      color: white;
      margin: {
        right: 0.5rem;
      }
    }
  }
  .speed_container {
    @include flexBox(center, center);
    .speed_select {
    }
  }
}

.volume_bar {
  height: 100px;
}
