/*== Variables ==*/

$errorColor: rgb(255, 47, 47);
$backgroundForm: white;
$backgroundColorList: #331575, #ff0066;
$linkColor: #333333;
$linkFontWeight: 600;

/*== Mixin and Function ==*/

@mixin backgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  background: {
    size: cover;
    repeat: no-repeat;
  }
}

@mixin linearGradient($direction, $list) {
  background-image: -webkit-linear-gradient($direction, $list);
  background-image: -moz-linear-gradient($direction, $list);
  background-image: -o-linear-gradient($direction, $list);
  background-image: linear-gradient($direction, $list);
}

@mixin linkStyle {
  color: $linkColor;
  font: {
    weight: $linkFontWeight;
  }
}

/*== Main ==*/

.root {
  @include backgroundImage;
  &__title {
    text: {
      align: center;
      transform: uppercase;
    }
  }
  &__form_container {
    width: 50%;
    min-width: 375px;
    background: $backgroundForm;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .action {
      &__remember,
      &__forgot_password {
        margin-bottom: 1rem;
      }
      &__remember_text {
        color: #aaaaaa;
        font: {
          weight: bold;
        }
      }
      .forgot_password_button {
        @include linkStyle;
      }
    }
    .action_buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__login_button {
        margin-bottom: 0.25rem;
        width: 100%;
      }
      &__signup_button {
        margin-bottom: 0;
      }
      .login_button {
        @include linearGradient(to right, $backgroundColorList);
        border-color: initial;
        width: 100%;
        font: {
          weight: $linkFontWeight;
        }
      }
      .create_account_button {
        @include linkStyle;
      }
    }
    &__logo {
      margin: 0 auto 0.5rem;
      display: block;
      cursor: pointer;
    }
    &__login_form {
      &__label {
        font: {
          weight: bold;
        }
        &__input_container {
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
      }
    }
  }
}

.error_list {
  color: $errorColor;
}
