$titleColor: #ffffff;
$titleSize: 16px;
$titleWeight: 600;
$artistColor: #d2d2d2;
$artistSize: 14px;
$artistWeight: 500;
$durationColor: #222222;
$durationSize: 14px;
$durationWeight: bold;
$buttonColor: #888888;
$backgroundColor: white;
$slideColor: #4b55fe;

/*== Mixin ==*/

@mixin basicTextStyle($color, $font-size, $font-weight) {
  color: $color;
  margin: 0 !important;
  font: {
    size: $font-size;
    weight: $font-weight;
  }
}

@mixin flexBox($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flexSize($flex-grow, $flex-basis) {
  flex-grow: $flex-grow;
  flex-basis: $flex-basis;
}

@mixin resetRow {
  margin: 0 !important;
}

.root {
  margin: 1.5rem 0rem;
  padding: 1rem;
  border-radius: 10px;
  background: #06215f;
  .info_container {
    @include flexBox(flex-start, center);
  }
  .song_picture {
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .title_and_artist_container {
    margin: {
      left: 10px;
    }
    .title {
      @include basicTextStyle($titleColor, $titleSize, $titleWeight);
    }
    .artist {
      @include basicTextStyle($artistColor, $artistSize, $artistWeight);
    }
  }
  .song_picture {
    border-radius: 0.5rem;
  }

  .icon {
    color: white;
    cursor: pointer;
  }
}

.info_modal {
  margin-top: 1.5rem;
}

.icon_in_modal {
  color: #ff0066;
}
.text_in_modal {
  @include basicTextStyle(#06215f, 16px, bold);
}
