/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#search_box.ant-input {
  caret-color: #fe0068;
  color: #fe0068 !important;
}

.ant-list-items {
  max-height: 250px !important;
  height: 250px !important;
  overflow: auto !important;
}

.ant-picker {
  background-color: white !important;
  height: 38px;
  border: none;
}
#profile_first_name.ant-input,
#profile_last_name.ant-input,
#profile_email.ant-input,
#login_user_input.ant-input,
#login_password_input.ant-input,
#signup_user_input.ant-input,
#signup_email_input.ant-input,
#signup_password_input.ant-input,
#signup_l_name_input.ant-input,
#signup_f_name_input.ant-input,
#signup_password_confirm_input.ant-input,
#forgot_email_input.ant-input,
#confirm_token_input.ant-input,
#signup_birthday_input {
  caret-color: #fe0068;
  background: white;
  font: {
    weight: 600;
  }
}

.ant-menu-inline {
  border-right: 0 !important;
}

#signup_birthday_input {
  height: 28px;
}

.ant-form-item-control-input-content {
  //box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.ant-menu-item-selected,
.ant-menu-item-active {
  color: #fe0068 !important;
  border-bottom: 2px solid #fe0068 !important;
}

.ant-badge-count {
  top: 0.5rem !important;
  right: 1rem !important;
  height: 1rem !important;
  line-height: 1rem !important;
  font-size: 10px !important;
  padding: 0px 0.25rem !important;
  box-shadow: none !important;
}

.ant-checkbox:hover {
  border-color: #fe0068 !important;
}

.ant-checkbox .ant-checkbox-inner {
  border-color: #fe0068 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fe0068 !important;
  border-color: #fe0068 !important;
}

.ant-checkbox-checked::after {
  border-color: #fe0068 !important;
}

.ant-input-clear-icon {
  color: white !important;
  &:hover {
    color: #d3d3d3;
  }
}

.ant-picker {
  width: 100%;
}

.ant-radio-inner {
  width: 20px !important;
  height: 20px !important;
  &::after {
    width: 8px !important;
    height: 8px !important;
    top: 4px !important;
    left: 4px !important;
    background-color: #fe0068 !important;
  }
  border: 2px solid #fe0068 !important;
}

.ant-radio-checked {
  &::after {
    border: 1px solid #fe0068 !important;
  }
}

.ant-dropdown-menu {
  padding: 0 !important;
}

.ant-dropdown-menu-item-divider {
  margin: 0 !important;
}

#sider_menu .ant-menu-item {
  border-bottom: 0 !important;
}
#sider_menu .ant-menu-item-selected::after,
#sider_menu .ant-menu-item::after {
  border-right: 0 !important;
}
#sider_menu .ant-menu-item-active::after {
  border-right: 0 !important;
}

#upload_avatar .ant-upload.ant-upload-select-picture-card {
  width: 200px !important;
  height: 200px !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 100px !important;
  overflow: hidden;
}

#upload_song .ant-upload.ant-upload-select-picture-card {
  width: 300px !important;
  height: 300px !important;
  @media screen and (max-width: 768px) {
    width: 100% !important;
    height: 200px !important;
  }
}

.ant-slider-track {
  background-color: #ff0066 !important;
}

.ant-slider-handle {
  border: 2px solid #ff0066 !important;
}
.ant-popover.ant-popover-placement-top {
  position: fixed;
  z-index: 999999;
}

.ant-input-group-addon {
  background: transparent !important;
}

.ant-input-search-button {
  background: transparent !important;
  border: unset !important;
}

.ant-spin-text {
  margin-top: 2rem !important;
  color: white !important;
}

.ant-dropdown {
  max-width: 100% !important;
}

.ant-layout-sider-zero-width-trigger {
  z-index: 9999999 !important;
}
