/*== Variables ==*/

$backgroundColorList: #151d30, #06215f;
$mainTextColor: #fe0068;
$secondaryTextColor: #d3d3d3;
$headerHeight: 4rem;

/*== Mixin ==*/

@mixin linearGradient($direction, $list) {
  background-image: -webkit-linear-gradient($direction, $list);
  background-image: -moz-linear-gradient($direction, $list);
  background-image: -o-linear-gradient($direction, $list);
  background-image: linear-gradient($direction, $list);
}

@mixin flexBox($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

/*== Main ==*/

.root {
  @include linearGradient(to left, $backgroundColorList);
  height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: $mainTextColor;
  z-index: 999;
  .dropdown {
    max-width: 100%;
  }
  &__logo_container {
    @include flexBox(center, center);
    cursor: pointer;
    h1 {
      color: $mainTextColor;
      font: {
        size: 1.125rem;
      }
      margin: {
        bottom: 0 !important;
      }
    }
    &__logo {
      margin-right: 1rem;
    }
  }
  &__menu {
    @include flexBox(space-between, center);
    &__search_box {
      width: 40%;
      border: {
        left: 1px solid $mainTextColor;
      }
    }
    &__navbar {
      &__list {
        height: $headerHeight;
        background: transparent;
        border: {
          bottom: 0;
        }
      }
      &__menu_item {
        line-height: $headerHeight;
        height: $headerHeight;
        color: $secondaryTextColor;
      }
    }
    &__actions {
      &__social {
      }
    }
    &__avatar {
      @include flexBox(space-between, center);
      margin-right: 2rem;
      @media screen and (max-width: 768px) {
        margin-right: 1rem;
      }
    }
    .icon {
      color: #d3d3d3;
      cursor: pointer;
      margin-left: 1rem;
      transition: all 0.35s ease-in-out;
      &:hover {
        color: #fe0098;
      }
    }
  }
}

.active {
  color: #fe0098;
}

@media screen and (max-width: 768px) {
  .root {
    height: 8rem;
  }
}
