/*== Variables ==*/

$titleSize: 1rem;

/*== Main ==*/

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .title {
    font: {
      weight: bold;
      size: $titleSize;
    }
  }
}