/*== Variables ==*/
$boxShadowSong: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$transitionHover: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
$songNameColor: #333333;

.root {
  border-radius: 0.5rem;
  transition: $transitionHover;
  cursor: pointer;
  background: white;
  overflow: hidden;
  &:hover {
    box-shadow: $boxShadowSong;
    .thumbnail {
      &__overlay {
        transform: translateY(0%);
        background: rgba(0, 0, 0, 0.5);
      }
      .image_container {
        transform: scale(1.05);
      }
    }
  }
  .thumbnail {
    position: relative;
    overflow: hidden;
    transition: $transitionHover;
    .image_container {
      transition: $transitionHover;
      max-width: 100%;
      position: relative;
      transform: scale(1);
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      .image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9;
      background: rgba(128, 128, 128, 0);
      transform: translateY(-100%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__duration {
      position: absolute;
      z-index: 10;
      left: 0.5rem;
      bottom: 0.5rem;
      background: #333333;
      color: white;
      padding: 0.125rem 0.5rem;
      border-radius: 0.25rem;
      font: {
        weight: bold;
      }
    }
  }
  .info {
    padding: 1rem;
    padding-top: 0rem;
  }
  .song_name {
    font: {
      weight: 600;
      size: 1rem;
    }
    color: $songNameColor;
    padding: 0.25rem 0rem 0.25rem;
    .action {
      float: right;
      color: #333333;
      font: {
        size: 1.25rem;
      }
    }
  }
  .information {
    &__author {
      color: #aaaaaa;
      margin: {
        bottom: 0.5rem;
      }
    }
    &__reaction {
      display: flex;
      justify-content: start;
    }
    &__statistical {
      color: #888888;
      &:not(:last-child) {
        margin: {
          right: 0.75rem;
        }
      }
    }
  }
}

.list_comment {
}

.add_comment_text {
  font-weight: bold;
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
}

.time {
  text-align: center;
  display: block;
  margin: {
    top: 1rem;
    bottom: 0.5rem;
  }
  color: #555555;
  font-weight: 600;
}
