.root {
  padding: 2rem;
  .content__list {
    margin-top: 3rem;
    .title {
      font-weight: bold;
      font-size: 32px;
      color: #331575;
    }
    .no_playlist_text {
      font-weight: bold;
      font-size: 24px;
      color: #333333;
      margin: 0 auto;
    }
  }
}
