.root {
  padding: 2rem;
  background-color: white;
  .title {
    margin: {
      top: 1rem;
      bottom: 2rem;
    }
    font-weight: bold;
    font-size: 2rem;
    color: #333333;
  }
  .item {
    display: flex;
    .rank {
      font-size: 1.5rem;
      font-weight: bold;
      -webkit-text-stroke: 1px black;
      opacity: 1;
      color: rgba(74, 144, 226, 0);
    }
    .rank.first {
      font-size: 2rem;
      -webkit-text-stroke: 1px red;
      opacity: 1;
    }
    .rank.second {
      font-size: 1.8rem;
      -webkit-text-stroke: 1px blue;
      opacity: 1;
    }
    .rank.third {
      font-size: 1.6rem;
      -webkit-text-stroke: 1px green;
      opacity: 1;
    }
  }
  .empty {
    .empty_text {
      font-size: 16px;
      font-weight: bold;
      color: #444444;
      margin-top: 2rem;
    }
    box-shadow: 0 3px 18px 0 rgba(75, 86, 255, 0.1);
    padding: 3rem;
    width: 50%;
    margin: 5rem auto 0rem;
    border-radius: 1rem;
  }
  .loadmore {
    display: block;
    margin: 0 auto;
  }
}
