.root {
  padding: 2rem;
  background: #ad5389; /* fallback for old browsers */

  background: -webkit-linear-gradient(
    to left,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-height: 920px;
  overflow: auto;
  position: relative;
}

/* width */
.root::-webkit-scrollbar {
  width: 4px;
  visibility: hidden;
  transition: visibility 0.2s;
}

/* Track */
.root::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 2px;
}

/* Handle */
.root::-webkit-scrollbar-thumb {
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #009fff,
    #ec2f4b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #009fff,
    #ec2f4b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 2px;
}

/* Handle on hover */

.root:scroll(10px) {
  visibility: visible;
  transition: visibility 0s 0.2s;
}

.loading_more {
  width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  left: 196px;
}
