.root {
  .button {
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__icon {
      margin-bottom: 1rem;
    }
    &__text {
      line-height: 1rem;
      font-size: 1rem;
      color: #333333;
    }
  }
}
