.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 18px 0 rgba(75, 86, 255, 0.2);
  }
}
