/*== Variables ==*/

$backgroundForm: white;
$boxShadowForm: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$boxShadowInput: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$backgroundColorList: #331575, #ff0066;
$linkFontWeight: 600;

/*== Mixin ==*/

@mixin linearGradient($direction, $list) {
  background-image: -webkit-linear-gradient($direction, $list);
  background-image: -moz-linear-gradient($direction, $list);
  background-image: -o-linear-gradient($direction, $list);
  background-image: linear-gradient($direction, $list);
}

/*== Main styles ==*/

.root {
  .form_container {
    .logo {
      margin: 0 auto 0.5rem;
      display: block;
      cursor: pointer;
    }
    width: 50%;
    min-width: 375px;
    background: $backgroundForm;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: $boxShadowForm;
    .form {
      $this: &;
      &__label {
        font: {
          weight: bold;
        }
      }
      &__input_container {
        box-shadow: $boxShadowInput;
      }
      &__button_container {
        margin: {
          bottom: 0.25rem;
        }
        width: 100%;
      }
      &__button {
        @include linearGradient(to right, $backgroundColorList);
        border-color: initial;
        width: 100%;
        font: {
          weight: $linkFontWeight;
        }
      }
    }
  }
}
