.root {
  padding: 2rem;
  .profile_avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
  }
  .profile_name {
    font: {
      size: 40px;
      weight: bold;
    }
    color: #331575;
    line-height: 40px;
  }
  .profile_email {
    font: {
      size: 1rem;
      weight: bold;
    }
    color: #666666;
    line-height: 1rem;
  }
  .profile_account {
    font: {
      size: 1rem;
      weight: bold;
    }
    color: #666666;
    line-height: 1rem;
  }
  .follow_container {
    display: flex;
  }
  .profile_follow {
    font: {
      size: 0.75rem;
      weight: bold;
    }
    color: #666666;
    line-height: 0.75rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .action_container {
    .follow_button {
      margin-right: 1rem;
    }
    .block_button {
    }
  }

  .avatar_text {
    font: {
      size: 4rem;
    }
  }

  .content__list {
    margin-top: 3rem;
    .title {
      font-weight: bold;
      font-size: 32px;
      color: #331575;
    }
  }
}
