// .root {
//   display: flex;
// }

.layout_container {
  margin-left: 200px;
}

.sider {
  height: 100vh;
  position: fixed;
  // left: 0,
  top: 4rem;
  z-index: 999999;
}

.sider.mobile {
}

@media screen and (max-width: 768px) {
  .layout_container {
    margin-top: 4rem;
    margin-left: 0px;
  }
  .sider {
    top: 8rem;
  }
}
